<h1>
  List of all actors
</h1>

<form action="/add_actor" method="post">
  <div>
  <label for="new_actor_name">Name</label>
  <input id="new_actor_name" name="user_actor_name">
  </div>

  <div>
  <label for="new_actor_dob">Dob</label>
  <input type ="date" id="new_actor_dob" name="user_actor_dob">
  </div>
  
  <div>
  <label for="new_actor_bio">Bio</label>
  <input id="new_actor_bio" name="user_actor_bio">
  </div>

  <div>
  <label for="new_actor_image">Image</label>
  <input id="new_actor_image" name="user_actor_image">
  </div>

  <button>Create actor</button>
</form>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>

  <% @list_of_actors.each do |an_actor| %>
  <tr>
    <td>
      <%= an_actor.id %>
    </td>

    <td>
      <img src="<%= an_actor.image %>" style="width:250px;">
    </td>

    <td>
      <%= an_actor.name %>
    </td>

    <td>
      <%= an_actor.dob %>
    </td>

    <td>
      <a href="/actors/<%= an_actor.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
